<!DOCTYPE html>
{%extends "base.html"%}
{%block content%}
<html>

  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Login</title>
  </head>

  <body>
    <div class="main" style="height:430px;">
      <p class="sign" align="center">Login</p>
      <form class="form1" method="post">
        <input class="un " type="text" align="center" name="username" placeholder="Username">
        <input class="pass" type="password" align="center" name="password" placeholder="Password">
        <input type="submit" class="submit" align="center" value="log in"></a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</p>
        <p align="center"><a href="sign_up">Don't have an account? Sign up</a></p>
        <p align="center" style="color:black;">{{error}}</p>
      </div>
      
  </body>

</html>
{%endblock%}